.button {
    border-radius: 10px 10px 10px 10px;
    /*background-color: #3BA720;*/
    padding: 30px 30px 30px 30px;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    width: 350px;
    line-height: 20px;
    color: #FFFFFF;
    transition-duration: 0.7s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    border: 2px solid #298D1B;
    background: linear-gradient(90deg, rgba(41, 130, 39, 1) 0%, rgba(108, 204, 6, 1) 50%, rgba(41, 130, 39, 1) 100%);
}

.button:hover {
    background: linear-gradient(90deg, rgba(108, 204, 6, 1) 0%, rgba(41, 130, 39, 1) 50%, rgba(108, 204, 6, 1) 100%);
    color: #FFFFFF;
    border: 2px solid #6CCC06;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta {
    background-color: crimson;
}